node-red/test_sigfox.flow
[{"id":"ba386057.845d3","type":"mqtt-broker","broker":"localhost","port":"1883"},{"id":"beedb884.1e5b98","type":"function","name":"Decode Sigfox","func":"// msg (in message), _msg (out message)\n// some vars, objects\n_msg        = new Object();\n_msg.frame  = new Object();\n_msg.sigfox = new Object();\n\n// decode sigfox buffer\n_msg.sigfox = JSON.parse(msg.payload);\nvar sig_data = new Buffer(_msg.sigfox.data, 'hex');\n\n// decode sig_data\n_msg.frame.type = sig_data.readUInt8(0);\n// MSG_T_STAT\nif (_msg.frame.type  == 2) {\n  _msg.frame.var_id  = sig_data.readUInt8(1);\n  _msg.frame.max     = sig_data.readUInt16BE(2);\n  _msg.frame.avg     = sig_data.readUInt16BE(4);\n  _msg.frame.min     = sig_data.readUInt16BE(6);\n  _msg.frame.int     = sig_data.readUInt16BE(8);\n// MSG_T_INDEX\n} else if (_msg.frame.type  == 3) {\n  _msg.frame.var_id  = sig_data.readUInt8(1);\n  _msg.frame.index1  = sig_data.readUInt32BE(2);\n  _msg.frame.index2  = sig_data.readUInt32BE(6);\n}\nreturn _msg;","outputs":1,"x":361.05554962158203,"y":133.8888807296753,"z":"acbbb771.fbbbf8","wires":[["601f37c3.ce5e58"]]},{"id":"91900e4a.977f9","type":"mqtt in","name":"","topic":"pub/sigfox/json_msg","broker":"ba386057.845d3","x":140,"y":134,"z":"acbbb771.fbbbf8","wires":[["beedb884.1e5b98"]]},{"id":"ada333c8.b3ce88","type":"comment","name":"Test Sigfox","info":"","x":88.5,"y":63,"z":"acbbb771.fbbbf8","wires":[]},{"id":"601f37c3.ce5e58","type":"debug","name":"","active":true,"complete":"true","x":560.5000057220459,"y":134.99999237060547,"z":"acbbb771.fbbbf8","wires":[]}]
